<h1>{{title}}</h1>
<div>
	<button id="video-control">Start/Stop</button>
</div>
<div id="glyph-container">
	<canvas id="glyph" width="480" height="320">Your browser does not support HTML5</canvas>
</div>
<div id="text-output"></div>
