<h1>{{title}}</h1>
<div>
	<video id="video" src="videos/letter_v_small.m4v" controls="true"/>
</div>
<div>
	<canvas id="input" width="64" height="48"></canvas>
	<canvas id="output" width="64" height="48"></canvas>
</div>
