<header>
<h1>{{title}}</h1>
</header>
<div id="glyph-container">
	<canvas id="glyph" width="480" height="320">Your browser does not support HTML5</canvas>
	<canvas id="reticle" width="480" height="320"></canvas>
</div>
<div id="controls">
	<button id="video-control">Start</button>
</div>
<div id="instructions">Press the <strong>Start</strong> button to start reading in camera data. Then either click your mouse or (if on touch device) touch within the box above to begin writing. Click again or lift your finger to stop writing and move the reticle. When you're done, click <strong>Stop</strong>, and your writing will attempt to be transcribed below.</div>
<div id="text-output"></div>
