<header>
<h1>{{title}}</h1>
</header>
<div id="controls">
	<button id="video-control">Start</button>
</div>
<div id="glyph-container">
	<canvas id="glyph" width="480" height="320">Your browser does not support HTML5</canvas>
</div>
<div id="text-output"></div>
