body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	margin: 0 auto;
}

a {
	color: #00B7FF;
}

#text-output {
	font-size: 3em;
}

#controls {
	margin: 0 auto;
	width: 200px;
}

#video-control {
	width: 180px;
	height: 80px;
}

#glyph {
	border: solid gray 1px;
	margin: 0 auto;
	width: 480px;
	height: 320px;
}
