body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
	width: 500px;
	margin: 0 auto;
}

a {
	color: #00B7FF;
}

#text-output {
	font-size: 3em;
	text-align: center;
	margin: 10px auto;
}

#controls {
	margin: 25px auto;
	width: 480px;
}

#video-control {
	width: 480px;
	height: 80px;
}

#glyph-container {
	margin: 0 auto;
    width: 480px;
    height: 320px;
    position: relative;
    border: solid 1px gray;
}

#about {
	width: 500px;
    margin: 0 auto;
}

#about div {
	margin: 13px auto;
}

#glyph, #reticle {
	position: absolute;
	margin: 0 auto;
}
